<!DOCTYPE html>
<html lang="ch-zn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
    <h1>XDU 晨午晚 自动填报</h1>
    <p><del>前端太难了</del></p>
    <p>谁会前端的话来帮个忙</p>
    <a href="http://ids.xidian.edu.cn/authserver/login">请填写一站式的用户名</a>
    <p>用户名</p>
    <input id="text_username" type="text" name="username">
    <p>密码</p>
    <input id="text_password" type="pass" name="password">

    <input type="button" value="submit" onclick="submit()">
</body>

</html>