<!DOCTYPE html>
<html lang="ch-zn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XDUCheckIn</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
    <h1>XDU 晨午晚 自动填报</h1>
    <p><del>前端太难了</del></p>
    <p>谁会前端的话来帮个忙</p>
    <p>责任声明:1. 我会尽力保护信息的安全 2. 如果真的发烧了或发生了什么情况,请立刻联系相关人员!!!</p>
    <p>6-12 的签到为晨检, 12-18 的签到为午检, 18 以后的签到为晚检。本工具会在3个时间点的3分钟后进行签到。</p>
    <p id="p_usernum"></p>
    <a href="http://ids.xidian.edu.cn/authserver/login">请填写一站式的用户名</a>
    <p>用户名</p>
    <input id="text_username" type="text" name="username">
    <p>密码</p>
    <input id="text_password" type="password" name="password">

    <input type="button" value="submit" onclick="submit()">
    <p id="p_message"></p>
    <div id="div_log"></div>
</body>

</html>